<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gems</key>
	<array>
		<dict>
			<key>examples</key>
			<string>Banded, eye, or moss agate; azurite; blue quartz; hematite; lapis lazuli; malachite; obsidian; rhodochrosite; tiger eye turquoise; freshwater (irregular) pearl</string>
			<key>gold</key>
			<string>10 gp</string>
			<key>endingRoll</key>
			<integer>25</integer>
			<key>dice</key>
			<integer>4</integer>
			<key>sides</key>
			<integer>4</integer>
			<key>times</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>examples</key>
			<string>Bloodstone; carnelian; chalcedony; chrysoprase; citrine; iolite, jasper; moonstone; onyx; peridot; rock crystal (clear quartz); sard; sardonyx; rose, smoky, or star rose quartz; zircon</string>
			<key>gold</key>
			<string>50 gp</string>
			<key>endingRoll</key>
			<integer>50</integer>
			<key>dice</key>
			<integer>2</integer>
			<key>sides</key>
			<integer>4</integer>
			<key>times</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>examples</key>
			<string>Amber; amethyst; chrysoberyl; coral; red or brown-green garnet; jade; jet; white, golden, pink, or silver pearl; red spinel, red-brown or deep green spinel; tourmaline</string>
			<key>gold</key>
			<string>100 gp</string>
			<key>endingRoll</key>
			<integer>70</integer>
			<key>dice</key>
			<integer>4</integer>
			<key>sides</key>
			<integer>4</integer>
			<key>times</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>examples</key>
			<string>Alexandrite; aquamarine; violet garnet; black pearl; deep blue spinel; golden yellow topaz</string>
			<key>gold</key>
			<string>500 gp</string>
			<key>endingRoll</key>
			<integer>90</integer>
			<key>dice</key>
			<string>2</string>
			<key>sides</key>
			<string>4</string>
			<key>times</key>
			<string>100</string>
		</dict>
		<dict>
			<key>examples</key>
			<string>Emerald; white, black, or fire opal; blue sapphire; fiery yellow or rich purple corundum; blue or black star sapphire; star ruby</string>
			<key>gold</key>
			<string>1,000 gp</string>
			<key>endingRoll</key>
			<integer>99</integer>
			<key>dice</key>
			<integer>4</integer>
			<key>sides</key>
			<integer>4</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>examples</key>
			<string>5,000 gp</string>
			<key>gold</key>
			<string>Clearest bright green emerald; blue-white, canary, pink, brown, or blue diamond; jacinth</string>
			<key>endingRoll</key>
			<integer>100</integer>
			<key>dice</key>
			<string>2</string>
			<key>sides</key>
			<string>4</string>
			<key>times</key>
			<string>1000</string>
		</dict>
	</array>
	<key>artObjects</key>
	<array>
		<dict>
			<key>examples</key>
			<string>Silver ewer; carved bone or ivory statuette; finely wrought small gold bracelet</string>
			<key>gold</key>
			<string>55 gp</string>
			<key>endingRoll</key>
			<integer>10</integer>
			<key>dice</key>
			<integer>1</integer>
			<key>sides</key>
			<integer>10</integer>
			<key>times</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>endingRoll</key>
			<integer>25</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>gold</key>
			<string>105 gp</string>
			<key>times</key>
			<integer>10</integer>
			<key>dice</key>
			<integer>3</integer>
			<key>examples</key>
			<string>Cloth of gold vestments; black velvet mask with numerous citrines; silver chalice with lapis lazuli gems</string>
		</dict>
		<dict>
			<key>gold</key>
			<string>350 gp</string>
			<key>examples</key>
			<string>Large well-done wool tapestry; brass mug with jade inlays</string>
			<key>endingRoll</key>
			<integer>40</integer>
			<key>dice</key>
			<integer>1</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>550 gp</string>
			<key>examples</key>
			<string>Silver comb with moonstones; silver-plated steel longsword with jet jewel in hilt</string>
			<key>endingRoll</key>
			<integer>50</integer>
			<key>dice</key>
			<integer>1</integer>
			<key>sides</key>
			<integer>10</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>700 gp</string>
			<key>examples</key>
			<string>Carved harp of exotic wood with ivory inlay and zircon gems; solid gold idol (10 lb.)</string>
			<key>endingRoll</key>
			<integer>60</integer>
			<key>dice</key>
			<integer>3</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>1,050 gp</string>
			<key>examples</key>
			<string>Gold dragon comb with red garnet eye; gold and topaz bottle stopper cork; ceremonial electrum dagger with a star ruby in the pommel</string>
			<key>endingRoll</key>
			<integer>70</integer>
			<key>dice</key>
			<integer>3</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>1,400 gp</string>
			<key>examples</key>
			<string>Eyepatch with mock eye of sapphire and moonstone; fire opal pendant on a fine gold chain; old masterpiece painting</string>
			<key>endingRoll</key>
			<integer>80</integer>
			<key>dice</key>
			<integer>4</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>1,750 gp</string>
			<key>examples</key>
			<string>Embroidered silk and velvet mantle with numerous moonstones; sapphire pendant on gold chain</string>
			<key>endingRoll</key>
			<integer>85</integer>
			<key>dice</key>
			<integer>5</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>2,500 gp</string>
			<key>examples</key>
			<string>Embroidered and bejeweled glove; jeweled anklet; gold music box</string>
			<key>endingRoll</key>
			<integer>90</integer>
			<key>dice</key>
			<integer>1</integer>
			<key>sides</key>
			<integer>4</integer>
			<key>times</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>3,500 gp</string>
			<key>examples</key>
			<string>Golden circlet with four aquamarines; a string of small pink pearls (necklace)</string>
			<key>endingRoll</key>
			<integer>95</integer>
			<key>dice</key>
			<integer>1</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>5,000 gp</string>
			<key>examples</key>
			<string>Jeweled gold crown; jeweled electrum ring</string>
			<key>endingRoll</key>
			<integer>99</integer>
			<key>dice</key>
			<integer>2</integer>
			<key>sides</key>
			<integer>4</integer>
			<key>times</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>gold</key>
			<string>7,000 gp </string>
			<key>examples</key>
			<string>Gold and ruby ring; gold cup set with emeralds</string>
			<key>endingRoll</key>
			<integer>100</integer>
			<key>dice</key>
			<integer>2</integer>
			<key>sides</key>
			<integer>6</integer>
			<key>times</key>
			<integer>1000</integer>
		</dict>
	</array>
</dict>
</plist>
